
h1 {
    font-family: 'Philosopher', sans-serif;
    color: aqua;
    text-shadow: 2px 2px black;
}

h3 {
    font-family: 'Philosopher', sans-serif;
    color: darkgreen;
}

p, ul, th, td {
    font-family: 'Philosopher', sans-serif;
    color: black;
}

section {
    background-color:blanchedalmond;
}

div.dropdown {
    
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 100px;
}

button {
    font-family: 'Philosopher', sans-serif;
    background-color: blue;
    color: white;
    
}